/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

/* FONTS */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Fond';
    src: url('../fonts/Fondamento-Regular.ttf');
}

/* HELPER */
.btn{
background-color: #337ab7;
border-color: #2e6da4;
padding: 6px 12px;
margin: 5px auto;
cursor: pointer;
text-align: center;
color: #fff;
transition: opacity .5s;
border-radius: 4px;
}
.btn:hover{
background-color: #286090;
}
.btn.inline {
display: inline-block;
width: auto;
}
.red-btn{
background-color: #d9534f;
border-color: #d43f3a;
}
.red-btn:hover{
background-color:#c9302c;
border-color: #ac2925;
}
.hidden{
display:none;
}
strong{font-weight: bold;}
input[type="text"] {
background-color: white;
border: 1.2px solid #7fdbff;
font-family: 'Lato', sans-serif;
}

hr {
    margin-top: 15px auto;
    border-right: 0px none;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #EEE -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
* {box-sizing:border-box;}

/* POSITIONING */
.left {float:left;}
.right {float:right;}

/* MAIN */

/* BODY */
body{
overflow: hidden;
font-family: 'Lato', sans-serif;
}

/* Clicking Bulb */
#bulb{
cursor:pointer;
width:200px;
height:320px;
margin: 7px auto;

background-image: url('../img/lightbulb.png');
background-repeat: no-repeat;
background-position: -5px -5px;

transition: transform .2s;

-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Clicked bulb */
#bulb:active{ 
background-position: -215px -5px;

-webkit-transform: scale(0.97);
-moz-transform: scale(0.97);
transform: scale(0.97);
}

/* Buildings/Upgrades */
.bdObj, .upgradeObj, .achievementObj{
min-height:50px;
}
.bdObj{
margin-bottom: 0;
width: 80%;
}

/* Buildings Amount */
.bdObj .bdAmount{
text-align:center;
float:left;
width:25%;
}

/* Buildings Info Holder */
.bdObj .bdInfo{
float:right;
width:75%;
}

/* Upgrades & Achievements */
.upgradeObj, .achievementObj{
width: 64px;
height: 64px;
float: left;
margin: 2px;
border: 1px solid black;
cursor: pointer;
}
/* Upgrades Holder */
#upgrade{
margin: 0 auto;
}
#options{ /* Options Holder */
margin: 5px auto;
}
#options h1, p{ /* Clear */
clear: both;
}
.disabled{ /* Disabled Buttons */
opacity: .65;
}
#col1, #col2, #col3{ /* Columns x3 */
text-align: center;
padding: 5px 2px;
min-height:100%;
max-height:100%;
overflow:auto;
}
/* Columns Alignment */
#col1 { float: left; width: 33%; }
#col2 { display: inline-block; width: 33%; }
#col3 { float: right; width: 33%; }
/* Buildings/Upgrades Popover */
.popover ul{
padding: 0 40px;
font-size: 12px;
}
/* ? */
.bulbObj{
background-image: #265a88;
}
/* Level */
#levelContainer span{
margin: 0 2px;
}
/* Level bar */
#levelbar {
margin-top: 15px;
margin-right: 50px;
margin-left: 50px;
height: 30px;
border: 1px solid #000;
background-color: #f5f5f5;
}
/* Progress for level bar */
#progress{
background-color: #0FD935;
height: 100%;
transition: width .6s ease;
}
/* Volt counter, header */
h1 {
font-family: 'Fond', Arial;
font-size: 25px;
margin: 2px 0;
}
/* Factory Name */
#factNameDisplay{
font-size: 12px;
}
/* Page Backdrop */
#backdrop{
opacity:0.6;
background-color:#000;
position:fixed;
width:100%;
height:100%;
top:0px;
left:0px;
z-index:1000;
}
/* Buy Selection */
.buySelection{
min-height:20px;
border:1px solid black;
width: 80%;
padding: 4px 6px;
margin: 5px auto;
margin-top: -1px;
}
.buySelection div{
margin: 0 7px;
display: inline;
}
.buySelection .buySelectionNumInput{
width: 50px;
}
.buySelection .buySelectionAll{
cursor: pointer;
}
/* Options Buttons */
.options{
margin: 5px 0;
}
.options .btn{
width: auto;
display: inline-block;
margin: 2px;
}
/* Input Buttons */
.inputHolder input{
display: block;
width: 100%;
height: 40px;
padding: 6px 12px;
font-size: 14px;
}
/* Buildings/Upgrades button (only in mobile) */
#upgradesBtn, #buildingsBtn {
display: none;
}
/* Back to main (only in mobile) */
#backToMain {
display: none;
}
/* Achievements */
#achievement #achievementImg{
width:64px;
height:64px;
float:left;
border:1px solid black;
}
#achievement #achievementInfo{
width:75%;
float:right;
text-align:center;
padding:2px 0;
}
#achievement #achievementNote{
color:#00CC00;
font-weight:bold;
}
#achievement #achievementName{
color:#fff;
}
#achievement{
position:absolute;
bottom: 0;
right:0;
height:64px;
width:300px;
background-color:black;
}
