<div class="row">
<div class="col-sm-4" id="col1">
	<div id="lightbulbListContainer">
		<p class="large">Lightbulbs</p>
	</div>
</div>
<div class="col-sm-4" id="col2">
	<p class="medium nostyle"><span id="factNameDisplay">Your Factory</span>
	</p>
	<p class="large fond"><span id="count"><%= volts %> volt</span>
	</p>
	<p><span id="vps">0.00 volt/second</span></p>
	<div id="bulbContainer">
		<div id="bulb"></div>
	</div>
	<div class="progress" style="margin-top: 15px;  margin-right: 50px; margin-left: 50px; height: 30px">
		<div id="pbar" class="progress-bar"></div>
	</div>
	<div id="levelContainer">
		Level <span id="level">1</span> (<span id="lvlExp">0</span> exp): <span id="levelN">Bicycle</span>
		<br>
		<span id="toNextLevel">100</span> exp until next level
		<br>
	</div>
	<div id="options">
		<p>
			<span id="saveG" class="btn btn-primary">Save Game</span>
			<span id="resetG" class="btn btn-primary">Reset Game</span>
			<span id="hresetG" class="btn btn-primary">Hard Reset Game</span>
		</p>
		<p>
			<span id="importG" class="btn btn-primary">Import Game</span>
			<span id="options" class="btn btn-primary">Options</span>
			<span id="exportG" class="btn btn-primary">Export Game</span>
		</p>
		<p><span id="stats" class="btn btn-primary">Statistics</span>
		</p>
	</div>
</div>
<div class="col-sm-4" id="col3">
	<div id="upgradeListContainer">
		<p class="large">Upgrades</p>
		<div id="upgrade" class=acc></div>
	</div>
</div>
</div>