<p class="medium no-margin" id="factNameDisplay"><%= factName %></p>
<p class="large fond" id="count"><%= _.suffix(Math.floor(volts)) %></p>
<p><span id="vps"><%= _.suffix(vps.toFixed(2)) %></span>/second</p>
<div id="bulbContainer">
	<div id="bulb"></div>
</div>
<div class="levelContainer"></div>
<div id="options">
	<p>
		<span id="saveG" class="btn btn-primary">Save Game</span>
		<span id="importG" class="btn btn-primary">Import Game</span>
		<span id="exportG" class="btn btn-primary">Export Game</span>
	</p>
	<p>
		<span id="resetG" class="btn btn-primary"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Reset Game</span>
		<a href="#options" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Options</a>
	</p>
	<p>
		<a href="#stats" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Statistics</a>
	</p>
</div>