<div class="container-fluid">
	<div class="row left">
		<a href="#" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Main Page</a>
		<a href="#stats" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Statistics</a>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p class="medium no-margin" id="factNameDisplay">Your Factory</p>
			<p class="fond"><strong id="count"><%= _.suffix(Math.floor(volts)) %></strong></p>
			<p><span id="vps"><%= _.suffix(vps.toFixed(2)) %></span>/second</p>
		</div>
		<div class="col-md-6">
			<p>
				Level <%= levelModel.level %> (<%= _.beautify(Math.round(levelModel.exp)) %> exp)<br>
				<%= _.beautify(levelModel.toNextLevel - levelModel.exp) %> exp until next level
			</p>
		</div>
	</div>
	<div class="row">
		<label for="autosave" class="control-label col-sm-6">Autosave frequency (0 second for no autosave)</label>
		<div class="col-sm-6">
			<input type="number" id="autosave" value="<%= autosave %>" min="0" class="form-control" />
		</div>
	</div>
	<div class='left'>
		<p><small>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></small></p>
	</div>
</div>