<div class="container-fluid">
	<div class="row left">
		<a href="#" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Main Page</a>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p class="medium no-margin" id="factNameDisplay">Your Factory</p>
			<p class="fond"><strong id="count"><%= _.suffix(Math.floor(volts)) %></strong></p>
			<p><span id="vps"><%= _.suffix(vps.toFixed(2)) %></span>/second</p>
		</div>
		<div class="col-md-6">
			<p>
				Level <%= levelModel.level %> (<%= _.beautify(Math.round(levelModel.exp)) %> exp)<br>
				<%= _.beautify(levelModel.toNextLevel + levelModel.levelTotalExp - Math.floor(levelModel.exp)) %> exp until next level
			</p>
		</div>
	</div>
	<div id='worker'></div>
</div>